@font-face {
    font-family: 'Adobe Clean-Black-uckYzhKG';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/1d94c6d6-5dc3-40ec-94ba-7461ee1380ae/adobeclean-black.woff') format('woff');
}