@font-face {
    font-family: 'Adobe Clean-LightIt-AT9GOjuz';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/65c8b8b0-2a9e-44e9-bc85-33de815b3668/adobeclean-lightit.woff') format('woff');
}