@font-face {
    font-family: 'Adobe Clean-SemiLightI-m8urBQmN';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/5dbafe5b-4a38-4f6a-a692-f94c18182b70/adobeclean-semilightit.woff') format('woff');
}