@font-face {
    font-family: 'Adobe Clean-ExtraBoldI-Bs7Z53hs';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/1ab4a5c2-621b-4203-b5b4-a7f79f1c4c8f/adobeclean-extraboldit.woff') format('woff');
}