@font-face {
    font-family: 'Adobe Clean-Light-PlUwqVeN';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/dfd3d1ab-1bdd-4d4e-9494-8ca3a69710bc/adobeclean-light.woff') format('woff');
}