@font-face {
    font-family: 'Adobe Clean-Bold-3ZAIWPvH';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/41de2c05-7744-48d9-a5cc-de3d1b538cc5/adobeclean-bold.woff') format('woff');
}