@font-face {
    font-family: 'Adobe Clean-BoldIt-14Ze6TAY';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/ad65be70-b33d-413f-936a-de02ec11e4fd/adobeclean-boldit.woff') format('woff');
}