@font-face {
    font-family: 'Adobe Clean-BoldSemiCn-wO3ZqPdP';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/6b38fe21-bcd0-4895-a0b0-87b30585b04e/adobeclean-boldsemicnit.woff') format('woff');
}