@font-face {
    font-family: 'Adobe Clean-Regular-G62JdNBq';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/562717d6-bd72-44e0-92d6-84f1c9e6643f/adobeclean-regular.woff') format('woff');
}