@font-face {
    font-family: 'Adobe Clean-It-QJDn3MuK';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/74f06e03-f8b0-4dac-8792-fba7dc1c1518/adobeclean-it.woff') format('woff');
}