@font-face {
    font-family: 'Adobe Clean-BoldSemiCn-vBslgRSi';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/251e704d-bf5b-4431-8755-bd295d330c79/adobeclean-boldsemicn.woff') format('woff');
}