@font-face {
    font-family: 'Adobe Clean-SemiCnIt-eyh1Eo38';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/da57c897-d50d-4fc8-8b6e-d95469ba9c0e/adobeclean-semicnit.woff') format('woff');
}