@font-face {
    font-family: 'Adobe Clean-BlackIt-ZUjKQHu1';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/99a42749-fa70-4d39-9032-ec1827beb251/adobeclean-blackit.woff') format('woff');
}