@font-face {
    font-family: 'Adobe Clean-SemiCn-MxPjOTWW';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/5e8f9bd4-af02-4dd1-870f-03b5c23f9f28/adobeclean-semicn.woff') format('woff');
}