@font-face {
    font-family: 'Adobe Clean-ExtraBold-cRrkXvNK';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/a149e5d7-d2c9-49c5-a345-c2432bf274ba/adobeclean-extrabold.woff') format('woff');
}