@font-face {
    font-family: 'Adobe Clean-SemiLight-0HmMLOKs';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/ee8ce182-e6be-4ce1-8104-f981f41d9883/adobeclean-semilight.woff') format('woff');
}